body {
  font-family: 'Roboto', sans-serif;
  /* font-size: ; */
  font-weight: 500 ;
  font-style: normal;
  color: #434455;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top:  0;
  margin-bottom: 0;
}
ul{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
img {
  display: block;
}
.container { 
  /* width: calc(1128px + 15px + 15px); */
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px; 
  margin-left: auto;
  margin-right: auto;
  }
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
display: flex;
justify-content: center;
align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 ;
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo .logo-studio {
  color: #2E2F42;
}

.footer-logo .logo-studio {
  color: #F4F4FD;
}

.header-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
  position: relative;
  /* виправлення помилки */
  color: #404bbf;
}
.header-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: flex;
  gap: 40px;
  /* padding: 24px 0; */
}
.header-address-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: #2E2F42;
  background-image: linear-gradient(
    to bottom, 
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7) 
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* виправлення помилки max-width */
  max-width: 1440px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  margin-bottom: 48px;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color:#4D5AE5;
  color: white;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border:none;
  /* помилки */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.hero-btn:hover, .hero-btn:focus {
  background-color:#404BBF;
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px ) / 4);
}
.advantages-icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #FFFFFF;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.about-member {
  padding: 32px 0;
  text-align: center;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #2E2F42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #434455;
}
.team-soc-list {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus  {
  background-color: #404BBF;
  border-radius: 50%;
}
.soc-icon {
  fill: #f4f4fd;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-item {
  width: calc((100% - 2 * 24px ) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-item-text {
transform: translateY(0);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4D5AE5;
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  /* Приклад викладача */
  /* transition: transform 250ms linear; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.about-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-blok {
  margin-right: 120px;
  
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
}
.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;

}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link:hover, 
.footer-soc-link:focus, 
.subscribe-btn:hover, 
.subscribe-btn:focus {
  background-color: #31D0AA;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.footer-subscribe {
  margin-left: auto;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
padding: 8px 16px ;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
/* margin-right: 24px; */
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-input::placeholder{
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-input:focus, 
.footer-input:hover {
  outline: none;
  border: 1px solid #31D0AA;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* gap: 16px; */
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-telegram {
  fill: #fff;
  margin-left: 16px;
}

.header-address-link:hover, 
.header-address-link:focus, 
.header-link:hover, 
.header-link:focus,
.header-item.current {
  color: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
/* Приховуємо */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}
.backdrop.is-open {
  /* Показуємо */
  opacity: 1;
visibility: visible;
pointer-events: auto;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background-color: #fcfcfc;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 4px;
padding: 24px;
padding-top: 72px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #e7e9fc;
  /* stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1); */
  /* margin-left: auto; */
  /* margin-bottom: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .icon-close-btn, 
.modal-close-btn:focus .icon-close-btn {
  fill: #fff;
}


.modal-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  font-size: 12px;
  /* line-height: 1.16667; виявляэться треба округлювати значення */
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
/* селектор сусіда */
.modal-input:focus + .modal-icon { 
  fill: #4d5ae5;

}


.backdrop:not(.backdrop.is-open)  .modal {
  transform: translate(-50%, -50%) scale(1.5  );
}
.modal-field-wrap {
  position: relative;
}

/* .modal-span-gap {
  margin-right: 8px;
} */

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.field-comment-gap {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-comment:focus {
  border-color: #4d5ae5;
}

.field-checkbox-gap {
  margin-bottom: 24px;
}
.modal-check-text {
  /* display: flex; */
  /* align-items: center;
  gap: 8px; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* .modal-check-span {
  display: inline-flex;
} */
.modal-check-text span {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;

  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.terms-link {
  line-height: 16px; 
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-submit-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-submit-btn:hover, 
.modal-submit-btn:focus {
  background-color:#404BBF;
}

.modal-check:checked + .modal-check-text span {
  border: none;
  background-color: #404bbf;
  fill: #F4F4FD;
}

/* селектор дитини */
.modal-check:checked + .modal-check-text > span {
  margin-right: 8px;
}

/* селектор нащадка, коли кнопка в станы ховера  */ 


/* border-radius: 2px;
fill: #404bbf;
border: 1px solid #404bbf; */



/* border: 1px solid #4d5ae5;
border-radius: 4px;
width: 360px;
height: 40px; */



